.base{
    height: 100vh;
    background-color: red;
    perspective: 300px;
}

.fore{
    height: 100vh;
    transform-style: preserve-3d;
    transform: translateZ(90px) scale(.7);
}

.green{
    background-color: green;
}

body{
    
}