#about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    width: 100vw;
}

#about-me .content{
    width: 40vw;
}

#about-me .profile-pic{
    width: 40vw;
    display: grid;
    place-items: center;
}

#about-me img{
    width:25vw;
    height: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 12px #888888;
}

#about-me .skill-wrapper{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    #about-me{
        flex-direction: column;
    }

    #about-me .content{
        width: 100%;
    }
    
    #about-me .profile-pic{
        margin: 0 auto;
    }
}