.parent{
    width:400px;
    height: 4000px;
    background: blue;
    position: relative;
    /* z-index: 10; */
}



.abs{
    /* border: 1px solid red; */
   position: absolute;
    background-image: url('./3d-cube.png');
   top:400px;
   left:50px;
    width: 100px;
    /* z-index: 20; */
    height: 100px;
    transform-style : preserve-3d;
    /* -webkit-transform: rotateY(80deg); */
    /* background: red; */
    -webkit-mask-image: url('./snowflake.svg');
    background-attachment: fixed;
    background-size: 500px;
    /* -webkit-mask-size: 300px; */
}

.child{
    width: 100px;
    height: 100px;
    background: green;
    z-index: 20;
}