*{box-sizing: border-box;}
body{
    margin:0;
    color:white;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
.frame{
    width: 100vw;
    height: 100vh;
    position:  relative;
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(to top,rgb(247,203,122),rgb(44,73,109));
}

.inner{
    top:10vw;
    left:10vw;
    position: absolute;
    height: 80vh;
    width: 80vw;
    background-image: linear-gradient(to top,rgb(228,193,127),rgb(24,52,95));
    
}

.land{
    position: absolute;
    text-align: center;
    left:0;
    bottom:0;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to bottom left,rgb(244,180,106),rgb(24,52,95));
    display: flex;
}

.land p{
    width: 100%;
    text-align: center;
    display: inline-block;
    align-self: flex-end;
}

.moon{
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(circle at 120% -20%, rgb(203,155,187), rgb(24,52,95));

    /* background-image: linear-gradient(to bottom left,rgb(203,155,187),rgb(24,52,95),rgb(24,52,95)); */
}

.big{
    top:30vh;
    left:40vw;
    width:20vw;
    height:20vw;
}

.small{
    top:65vh;
    right:7vw;
    width:5vw;
    height:5vw;
}