.about-me .section{
    /* border: 1px solid blue; */
    margin: 2%;
    padding: 2%;
    color: #FFF;
    background-color: #404040;
    /* border-radius: 5px; */
    /* background-image: linear-gradient(to top right,white,white,lightblue ); */
    /* box-shadow: black 5px 5px 12px; */
    font-family: 'Poppins', sans-serif;
}

.about-me .title-wrapper{
    text-align: center;
    display: grid;
}

.about-me .section .title{
    font-size: 2em;
    text-decoration: inherit;
    color: inherit;
    text-align: center;
}

.about-me .section .title:hover{
    text-decoration: underline;
}