.about-me{
    width:100%;
    padding:10%
}

.about-me-title{
    font-size: 2em;
    width:100%;
    text-align: center;
}

.profile-pic{
    float:right;
    border-radius: 50%;
    width:25vw;
    height: 25vw;
    shape-outside: circle(50%);
    shape-margin: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}