.background-window{
    height: 500px;
    /* background-color: transparent; */
    place-items: center;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.background-1{
    background-image: url("/images/flowers-background.jpeg");
}
.background-2{
    background-image: url("/images/grass-background.jpg");
}
.background-3{
    background-image: url("/images/daises-background.jpg");
}


.background-window .window-content{
    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 4px 4px 12px #000000; 
}