



.content{
    display:grid;
    place-items: center;
    font-size: 5em;
    color: white;
}

.info-box{
    max-width: 500px;
    padding: 10px;
    padding: 40px;
    height: fit-content;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgb(0,0,0));
    border-radius: 10px;
    color: darkgrey;
    /* position: absolute; */
    top:5%;
    right:5%;

}

.info-box .skill-button{
    /* width:80%; */
    margin-left: 10%;
    height: 50px;
    background-color:rgb(225, 105, 180,.4);
    border-radius: 5px;
    transition: .3s;
    place-items: center;
    display: grid;
    /* color: rgb(43, 42, 42); */
    color: rgb(255, 255, 255,.5);
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: inherit;
}

.info-box .skill-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(225, 105, 180,.8);
    /* background-color: rgb(120, 181, 201); */
    /* color: black; */
    /* box-shadow: 1px 1px 48px #000000; */
    transition: .3s;   
}


/* @media screen and (max-width: 600px) {
    .content {
      width: 100%;
      border: 10px red;
    }
    .info-box{
        width: 100%;
        border: 10px red;
    }
  } */