.contact{
    width:100%;
    padding:10%;
    text-align: center;
}

.about-this-site{
    width:100%;
    max-width: 1500px;
    padding:10%;
    margin:0 auto;
    text-align: center;
}

.experience{
    width:100%;
    max-width: 1500px;
    padding:10%;
    margin:0 auto;
}