.first{
    animation-name: move-right;
    animation-duration: 4s;
}
.last{
    animation-name: move-left;
    animation-duration: 4s;
}
.name{
    font-size: 80px;
    text-shadow: black 0px 0px 12px;
}
.name-container{
    color: white;
    font-family: 'Permanent Marker', cursive;
    animation-name: spin;
    animation-duration: 4s;
    border-radius: 50%;
    background-color: rgba(60, 173, 201, 0.8);
    box-shadow: 1px 1px 48px #000000;
}

@keyframes spin{
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes move-right {
    from {
        transform: translate(-100%,0);
    }
    to {
        transform: translate(0,0);
    }
  }

  @keyframes move-left {
    from {
        transform: translate(100%,0);
    }
    to {
        transform: translate(0,0);
    }
  }