.pancake-links{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pancake-links .link-container{
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    width: 15vw;
    min-width: 200px;
    max-width: 400px;
    transition: .5s;
    cursor: pointer;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.pancake-links .link-container .image-container{
    padding:5px;
    transition: .2s;
}

.pancake-links .link-container:hover .image-container{
    padding:0px;
    transition: .2s;
    
}

.pancake-links .link-container .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 5px 8px 5px #888888;
    transition: .2s;
}

.pancake-links .link-container:hover .image-container img{
    box-shadow: 5px 10px 8px 5px #888888;
    transition: .2s;
}


