.project{
    width:30vw;
    min-width: 300px;
}

.project-category{
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.project .image-container img{
    width:20vw;
    height: 20vw;
    border-radius: 50%;
}
