.image-wrapper{
    height: 95vh;
    place-items: center;
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/images/grass-background.jpg");
}

.image-wrapper.denver{
    background-image: url("/images/denver.jpg");
}

.image-wrapper.denver-wide{
    background-image: url("/images/denver-wide-shot.jpeg");
}


.image-wrapper.dia{
    background-image: url("/images/denver-int-airport.jpg");
}

.image-wrapper.big-blue-bear{
    background-image: url("/images/big-blue-bear.jpg");
}

.image-wrapper.mountains{
    background-image: url("/images/mountain-sun-set.jpg");
}

.image-wrapper.denver-art-museum{
    background-image: url('/images/backgrounds/art-museum.jpg');
}

.image-wrapper.denver-skyline{
    background-image: url('/images/backgrounds/denver-skyline.jpg');
}

.image-wrapper.platte-river{
    background-image: url('/images/backgrounds/platte-river.jpg');
}

.image-wrapper.cheesman-park{
    background-image: url('/images/backgrounds/cheesman-park.png');
}


.image-wrapper.city-park{
    background-image: url('/images/backgrounds/city-park.jpg');
}

.image-wrapper .image-caption{
    padding: 1vw;
    color: white;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 8px;
}

.image-wrapper .name{
    background-color: grey;
}

.black-background{
    background-color: grey;
}