#projects{
    /* background-color: grey; */
    padding: 15px;
}
#projects .project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .project{
    margin: 5%;
    padding: 2%;
}

#projects .underline{
    border-bottom: 2px solid grey;
}

#projects .description{
    /* margin: 0 auto 0 auto; */
    width: 40%;
    padding: 10px;
    text-align: center;
}

#projects .image-container{
    /* margin: auto; */
    height: 40vh;
    width: 40vh;
    text-align: right;
    border-radius: 50%;
    box-shadow: 0 0 12px #888888;
}

#projects .image-container img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}





@media only screen and (max-width: 600px) {
    #projects .project{
        flex-direction: column;
    }

    #projects .description{
        /* margin: 0 auto 0 auto; */
        width: 100%;
    }
    
    #projects .image-container{
        margin: 0 auto;
    }
}
